name: API Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run PyTest with HTML report
      run: |
        pytest -v -s tests/ --html=reports/weather_report.html

    - name: Upload HTML report
      uses: actions/upload-artifact@v4
      with:
        name: weather-report
        path: reports/weather_report.html
